body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-image: url("wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f4bd71; /* Warna latar belakang form */
}

.ic-form {
    background-image: url("wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 900px;
    height: 150vh;
    display: grid;
    place-items: center;
    /* border: 1px solid black; */
    border-radius: 20px; 
    -webkit-box-shadow: 0px 9px 26px -10px rgba(50, 48, 48, 0.65);
    -moz-box-shadow: 0px 9px 26px -10px rgba(0,0,0,0.65);
    box-shadow: 0px 9px 26px -10px rgba(16, 15, 15, 0.65);
    background-color: rgba(45, 43, 43, 0.6); /* Warna latar belakang form */
}


.category-problems, .status-info{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

label{
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

textarea{
    border-radius: 5px;
}

.masalah, .fitur, .label, .catatan{
    margin-bottom: 10px;
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
    background: rgb(253,55,29);
    background: -moz-linear-gradient(90deg, rgba(253,55,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(253,55,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(90deg, rgba(253,55,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd371d",endColorstr="#fcb045",GradientType=1);
    color: white; /* ubah warna teks */
}

#dataTable th, #dataTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid rgb(1, 1, 1); /* garis bawah */
    border-right: 1px solid black; /* garis kanan, warna hitam */
}

#dataTable tr:last-child th {
    border-bottom: 2px solid rgb(1, 1, 1); /* garis bawah di baris terakhir untuk header */
    border-right: 2px solid black; /* garis kanan di baris terakhir untuk header, warna hitam */
}

#dataTable th {
    font-weight: bold;
    border-right: 2px solid black; /* garis kanan untuk header, warna hitam */
}

button{
    width: 120px;
    margin-top: 25px;
    height: 5vh;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: orangered;
}


